/* red: #d43c33 */
/* grey: #888 */

body{
    font-size: .46785rem;
    background: #FCFCFD;
}
.top{
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}
/* 公共标题 */
.section-title{
    border-left: 2px solid #d43c33;
    font-size: 17px;
    line-height: 1;
    padding-left: 8px;
    margin:20px 0 8px;
    color: #333333;
}
/* topbar */
section.topbar{
    background: #d43c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .52rem .2666rem; */
    padding: .5312rem .3125rem;
}
section.topbar .topLogo>svg{
    width: 4.437rem;
    height: .7812rem;
    /* width: 3.7866rem;
    height: 0.6666rem; */
    vertical-align: top;
}
section.topbar>a{
    /* font-size: .4rem; */
    
    color: #fff;
    display: inline-block;
    /* padding: .2rem .2666rem; */
    /* border: 1px solid #fff; */
    padding: .15625rem .34375rem;
    line-height: .625rem;
    position: relative;
}
section.topbar>a::after{
    content: "";
    border: 1px solid #fff;
    border-radius: 1.5625rem;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: scale(.5);
}

/* 切换 */
.tabs{
    display: flex;
    border-bottom: .5px solid #ccc;
    font-size: 15px;
}
/* .tabs::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: scale(.5);
    border-bottom: 1px solid #ccc;
    z-index: -1;
} */
.tabs > li{
    width: 33.333333%;
    font-size: .46877rem;
    /* font-size: .46785rem; */
    text-align: center;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs > li > .text{
    padding: 10px 5px;
    position: relative;
    top: -0.5px;
}
.tabs > li.active{
    /* border-bottom: 2px solid #d43c33; */
    color: #d43c33;
    /* position: relative; */
}
.tabs > li.active>.text{}
.tabs > li.active>.text::after{
    content: "";
    border-bottom: 2px solid #d43c33;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
} 
.tab-content{
    margin-top: 105px;
}
.tab-content > li{
    display: none;
}
.tab-content > li.active{
    display: block;
}

/* 推荐歌单 */
/* section.playlists::before{
    content: "";
    display: table;
    /* display: block;
    border-top: 1px solid transparent; */
 /*} */
section.playlists > ol.songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 36px;
}
section.playlists > ol.songs > li{
    width: 32.8%;
    margin: 8px 0;
}
section.playlists > ol.songs > li img{
    width: 100%;
    height: 3.28rem;
}
section.playlists > ol.songs > li p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 2px 6px 0;
    line-height: 1.2;
}

/* 最新音乐 */
section.songs{

}
section.songs > .list {
    margin-top: 18px;
}
section.songs > .list > li > h3{
    font-size: 17px;
    color: #333;
}
section.songs > .list > li > p{
    font-size: 12px;
    color: #888;
}
section.songs > .list >li{
    position: relative;
    margin-left: 10px;
    border-bottom: .5px solid #E2E2E3;
    padding-bottom: 7px;
    padding-top: 8px;
}
section.songs > .list .play-button{
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
section.songs > .list .icon-play{
    color: #aaa;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
section.songs > .list .icon-sq{
    color: #FE672E;
}
/* footer */
section.art{
    padding-top: 43px;
    padding-bottom: 18px;
    background: transparent url(//oxkl41ihc.bkt.clouddn.com/recommand_bg_2x.png) no-repeat center;
    text-align: center;
    background-size: cover;
}
section.art > .logo > svg{
    width: 230px;
    height: 44px;
}
.link{
    display: inline-block;
    font-size: 16px;
    color: #d33a31;
    border: 1px solid #d33a31;
    line-height: 38px;
    padding: 0 18px;
    border-radius: 36px;
    margin: 10px 0 5px;
}
.copyright{
    color: #888;
    font-size: 12px;    
    transform: scale(.75);
}